<h1>Contas</h1>

<p *ngIf="!(contas$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">Add conta</a>
</p>

<table class="table table-sm table-hover" *ngIf="(contas$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Valor Original</th>
      <th>Valor Corrigido</th>
      <th>Qtd Dias Atraso</th>
      <th>Data de Pagamento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of (contas$ | async)">
      <td>{{ conta.id }}</td>
      <td>{{ conta.nome }}</td>
      <td>{{ conta.valorOriginal }}</td>
      <td>{{ conta.valorCorrigido }}</td>
      <td>{{ conta.quantidadeDiasAtraso }}</td>
      <td>{{ conta.dataPagamento | date: "dd.MM.y" }}</td>
    </tr>
  </tbody>
</table>